{% extends 'layout/base1.html' %}
{% load static %}

{% block title %}Registro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'formulario/styles-register.css' %}">
{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {% if error %}
    <p id="Men_error" style="color: red;">{{ error }}</p>
    {% endif %}
    <input type="text" name="username" placeholder="Nombre de usuario*" required>
    <input type="text" name="nombre_completo" placeholder="Nombre completo*" required>
    <input type="email" name="email" placeholder="email*" required>
    <input type="password" name="password" placeholder="password*" required>
    <button type="submit">Registrarse</button>
</form>

{% endblock %}