{% extends 'layout/base1.html' %}
{% load static %}

{% block extra_css %}
{# Apuntamos al nuevo archivo CSS que combina ambos estilos #}
<link rel="stylesheet" href="{% static 'formulario/styles-home.css' %}">
{% endblock %}

{% block content %}
<main class="content-wrapper is-centered">
    <div class="main-container">

        <!-- Sección de Bienvenida (el contenido de tu home original) -->
        <div class="welcome-section">
            <div class="image-container">
                <img src="{% static 'images/logo.png' %}" alt="Imagen de Clinicbot" class="center-image" id="logo-defecto">
            </div>
            <div class="text-container">
                <h1>Clinicbot</h1>
            </div>
            {# Poner aquí imagen del logo del gob, etc ??? #}
            <img src="{% static 'images/logos_gob.png' %}" alt="Logos Gobierno">
        </div>

        <!-- Sección de Login (el formulario) -->
        {% if not request.user %}
        <div class="login-section">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <h2>Iniciar Sesión</h2>
                {% if error %}
                <p id="Men_error" style="color: red;">{{ error }}</p>
                {% endif %}
                <input type="text" name="username" placeholder="Usuario" autofocus required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Entrar</button>
            </form>
        </div>

        {% endif %}

    </div>
</main>
{% endblock %}

{% block scripts %}
    <script>
        // Se ejecuta cuando el HTML de la página está listo
        document.addEventListener('DOMContentLoaded', function() {
            const logo = document.getElementById('logo-defecto'); //Se selecciona el logo por su ID
            
            //Rutas por defecto
            const imagenPorDefecto = "{% static 'images/logo.png' %}";
            const imagenColor = "{% static 'images/logo_color.png' %}";

            //Evento raton encima del Logo
            logo.addEventListener('mouseenter', function() {
                this.src = imagenColor;
            });

            //Evento raton fuera del Logo
            logo.addEventListener('mouseout', function() {
                this.src = imagenPorDefecto;
            });

        });
    </script>
{% endblock %}
