<div id="datos-muestras" class="tab-content">
    <div class="container2">
        <div class="lista11">
            <div class="texto-boton">
                <h2>Muestras</h2>
                <button id="cerrarFormMuestra" style="display:none;">×</button>
            </div>
            <div class="lista22">
                <ul id="muestras-lista">
                    <li>No hay muestras asociadas</li>
                </ul>
            </div>
        </div>
        <div class="formulario-muestras" id="formulario-muestras" style="display:none;">
            <h2>Datos de la Muestra</h2>
            {# Antes %url 'editar_muestra'% - Se debería cambiar a algo con javascript, para actualizar los datos #}
            <form id="formularioDatos" method="POST" action="#">
                {% csrf_token %}
                <input type="hidden" id="muestra_id" name="muestra_id">

                <fieldset>
                    <legend>Datos generales</legend>
                    <label for="identificacion">Identificación:</label>
                    <input type="text" id="identificacion" name="identificacion" readonly>

                    <label for="fecha">Fecha:</label>
                    <input type="datetime-local" id="fecha" name="fecha">
                </fieldset>

                <fieldset>
                    <legend>Datos máquina</legend>
                    <label for="color">Color:</label>
                    <input type="text" id="color" name="color" required>

                    <label for="posicion">Posición:</label>
                    <input type="number" id="posicion" name="posicion" required>
                </fieldset>

                <div class="form-buttons">
                    <button type="submit" id="guardarDatos">Guardar muestra</button>
                    <button type="button" id="eliminarDatos"
                        onclick="if(confirm('¿Seguro que quieres eliminar esta muestra?')) document.getElementById('form-borrar-muestra').submit();">Eliminar
                        muestra</button>
                </div>
            </form>

            <form id="form-borrar-muestra" method="POST" action="{% url 'borrar_muestra' %}" style="display: none;">
                {% csrf_token %}
                <input type="hidden" id="muestra_id2" name="muestra_id2">
                <div class="form-buttons">
                    {# <button type="submit" id="eliminarDatos">Eliminar muestra</button> #}
                </div>
            </form>
        </div>
    </div>
</div>