{% extends 'layout/base1.html' %}
{% load static %}

{% block title %}Panel de usuario{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'formulario/styles-panel.css' %}">
{% endblock %}

{% block content %}

<div class="admin-panel">
    <aside class="sidebar">
        <nav>
            <ul>
                <li><a href="{% url 'panel_datos' %}" data-section="datos-cuenta" class="nav-link {% if request.path == '/panel-u/' %}active{% endif %}">Datos Cuenta</a></li>
                <li><a href="{% url 'panel_tokens' %}" data-section="crear-token" class="nav-link {% if request.path == '/panel-u/tokens' %}active{% endif %}">Crear Token</a></li>
                {% if 'superuser' in request.user.permisos %}
                <li><a href="{% url 'panel_usuarios' %}" data-section="ver-usuarios" class="nav-link {% if request.path == '/panel-u/usuarios' %}active{% endif %}">Ver Usuarios</a></li>
                {% endif %}
            </ul>
        </nav>
    </aside>
    <main class="panel-content">
            
        {% block contenido %}{% endblock %}

    </main>
</div>

{% endblock %}