{% extends "panel.html" %}
{% load static %}

{% block contenido %}
<div id="ver-usuarios" class="content-section">
    <h2 class="section-title">Lista de Usuarios</h2>

    <table class="user-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Tipo de Cuenta</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <td>{{ user.nombre_completo }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                {% if user.es_superuser %}
                <td><span class="user-type superuser">Superuser</span></td>
                {% else %}
                <td><span class="user-type user">Usuario</span></td>
                {% endif %}
                <td>{{ user.activo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{#
    <td><span class="user-type admin">Admin</span></td>
    <td><span class="user-type user">Usuario</span></td>
    <td><span class="user-type superuser">Superuser</span></td>


        "id": str(usuario["_id"]),
        "username": usuario.get("username", ""),
        "nombre_completo": usuario.get("nombre_completo", ""),
        "email": usuario.get("email", ""),
        "es_superuser": usuario.get("es_superuser", ""),
        "activo": usuario.get("activo", "")

#}