/* Reseteamos márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Establecemos una altura completa para el body */
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Contenedor principal para centrar todo */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    text-align: center;
}

/* Estilo para la imagen */
.center-image {
    width: 300px;  /* Puedes ajustar el tamaño de la imagen */
    height: auto;
    margin-bottom: 20px; /* Espacio debajo de la imagen */
    animation-name: slideInDown;
    animation-duration: 1s;
}

/* Estilo para el texto */
.text-container h1 {
    font-size: 60px;
    font-weight: bold;
    color: #333; /* Color del texto */
    animation-name: slideInUp;
    animation-duration: 1500ms;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -200%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 200%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
